{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

<br><h2>Delete DDV-TG-x Agents</h2><br>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('delete_agents') }}" method=post>
    <dl>
      <dt><label for="agent">Delete Agent:</label>
        <select name="agent_hostname" id="agent_hostname">
          <option value="">Select Agent</option>
          {% if agent_names | length > 0 %}
            {% for agent_name in agent_names %}
              <option value = {{ agent_name }}>{{ agent_name }} </option>
            }
          {% endfor %}
          {% endif %}
      <dd></select>
        <br><dt><input type=submit value=delete><br>
    </dl>
  </form>
<div class=dfdata>
{{ data|safe }}
</div>
{% endif %}
{% endblock %}
