{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

<br><h2>DDV-TG-Verifier Tasks</h2><br>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('delete_tg_v_task') }}" method=post>
    <dl>
      <dt><label for="tg_v_task">Delete Task:</label>
        <select name="tg_v_enrollment_id" id="tg_v_eut">
          <option value="">Select Task</option>
          {% if tg_v_names | length > 0 %}
            {% for tg_v_name in tg_v_names %}
              <option value = {{ tg_v_name['tg_v_enrollment_id'] }}>{{ tg_v_name['tg_v_eut'] }} </option>
            }
          {% endfor %}
          {% endif %}
      <dd></select>
        <br><dt><input type=submit value=delete><br>
    </dl>
  </form>
<div class=dfdata>
{{ data|safe }}
</div>
{% endif %}
{% endblock %}
