{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<html>

  <head>
      <br><h2>Edit DDV-TG-x Agent</h2><br>
  </head>
  <body>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <form action="{{ url_for('edit_agents') }}" method=post>
            <table style="width:25%">
                <tr>
                    <td>Unique ID:</td>
                    <td><input type=text name=agent_enrollment_id value={{ agent[0]['agent_enrollment_id'] }} readonly size=40></td>
                </tr>
                <tr>
                    <td>Enrollment Date:</td>
                    <td><input type=text name=agent_enrollment_date value='{{ agent[0]['agent_enrollment_date']|safe }}' readonly size=40></td>
                </tr>
                <tr>
                    <td>Hostname:</td>
                    <td><input type=text name=agent_hostname value='{{ agent[0]['agent_hostname'] }}' required size=40></td>
                </tr>
                <tr>
                    <td>IP:</td>
                    <td><input type=text name=agent_ip value='{{ agent[0]['agent_ip'] }}' required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" size=40></td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><input type=text name=agent_location value='{{ agent[0]['agent_location'] }}' size=40></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type=text name=agent_description value='{{ agent[0]['agent_description'] }}' size=40></td>
                </tr>
                <tr>
                    <td><label for="roles">Role:</label></td>
                    <td><select name="agent_role" id="agent_role" value={{ agent[0]['agent_role'] }} required>
                          <option value="">Select Role</option>
                          <option value="A">Attacker</option>
                          <option value="V">Verifier</option>
                        </select></td>
                </tr>
                <tr>
                    <td>Local_API_Key:</td>
                    <td><input type=text name=agent_local_api_key value={{ agent[0]['agent_local_api_key'] }} size=40></td>
                </tr>
                <tr>
                    <td>Remote_API_Key:</td>
                    <td><input type=text name=agent_remote_api_key value={{ agent[0]['agent_remote_api_key'] }} size=40></td>
                </tr>
            </table>
            <br><td><input type=submit value=submit></td><br>
        </form>
        <div class=dfdata>
            {{ data|safe }}
        </div>
        {% endif %}
        {% endblock %}

  </body>
</html>
