{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<html>

    <head>
        <br><h2>Add Organisation Under Test</h2><br>
    </head>
    <body>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <form action="{{ url_for('enroll_out') }}" method=post>
            <table style="width:30%">
                <tr>
                    <td>Company Name:</td>
                    <td><input type=text name=out_companyname required size=40></td>
                </tr>
                <tr>
                    <td>Contact Name:</td>
                    <td><input type=text name=out_contactname size=40></td>
                </tr>
                <tr>
                    <td>Contact Email:</td>
                    <td><input type=email name=out_contactemail size=40></td>
                </tr>
                <tr>
                    <td>Contact Number:</td>
                    <td><input type=tel name=out_contactnumber size=40></td>
                </tr>
                <tr>
                    <td>Industry:</td>
                    <td><input type=text name=out_industry size=40></td>
                </tr>
                <tr>
                    <td>Sightline IP:</td>
                    <td><input type=text name=out_sl_ip placeholder='x.x.x.x or fqdn' size=40 pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"></td>
                </tr>
                <tr>
                    <td>Sightline API Key:</td>
                    <td><input type=text name=out_sl_api size=40></td>
                </tr>
            </table>
            <br><td><input type=submit value=submit></td><br>
        </form>
    <div class=dfdata>
        {{ data|safe }}
    </div>
    {% endif %}
    {% endblock %}
    </body>
</html>
