{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

<br><h2>DDV-TG-Attacker Tasks Status</h2><br>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <table id="table1">
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
                {% if col == edit_link_column %}
                <td>
                    <button type="submit" value={{ row_ }} name="edit_tg_a_task_uuid" form="edit_uuid_button" class="tg_a_task_uuid_button">
                        {{ "edit" }}
                    </button>
                </td>
                {% elif col == delete_link_column %}
                <td>
                    <button type="submit" value={{ row_ }} name="delete_tg_a_task_uuid" form="delete_uuid_button" class="tg_a_task_uuid_button">
                        {{ "delete" }}
                    </button>
                </td>
                {% elif col == push_link_column %}
                <td>
                    <button type="submit" value={{ row_ }} name="push_tg_a_task_uuid" form="push_uuid_button" class="tg_a_task_uuid_button">
                        {{ "reapply" }}
                    </button>
                </td>
                {% else %}
                <td>{{ row_ }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <form action="/edit_tg_a_task" method="get" id="edit_uuid_button"></form>
    <form action="/delete_tg_a_task" method="get" id="delete_uuid_button"></form>
    <form action="/remote_tg_a_task_push" method="get" id="push_uuid_button"></form>
{% endif %}
{% endblock %}
